# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [40]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv', parse_dates=[1])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [41]:
# Convert the date column format from string to datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [42]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [43]:
from scipy import stats

In [60]:
# Filter data for desired months
june_df = df.loc[df.index.month==6]
dec_df = df.loc[df.index.month==12]

In [62]:
# Identify the average temperature for June
june_df.tobs.mean()

74.94411764705882

In [63]:
# Identify the average temperature for December
dec_df.tobs.mean()

71.04152933421226

In [73]:
# Create collections of temperature data
june_temps = june_df.tobs
dec_temps = dec_df.tobs

In [74]:
# Run paired t-test
stats.ttest_ind(june_temps, dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis